
/*inptu search*/
.input {
    border: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    background-color: #11b00c;
    box-shadow: 0px 0px 3px #11c01d;
    padding-right: 40px;
    
}

.input::placeholder,
.input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: #8f8f8f;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
}

.icon:focus ~ .input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #15c045;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
/* end input search*/